<h1 class="cover-heading">
  <%= @survey.name %>
</h1>
<p class="lead">
  <%= @survey.description %>
</p>
<p class="lead">
  <div class="btn btn-lg btn-default" id="start_survey_button">Get Started</div>
</p>