<div class="inner cover">

  <div id="start_page">
    <%= render 'surveys/start' %>
  </div>

  <div id="question_list">
    <div id="questions"></div>
  </div>

  <div id="end_page">
    <%= render 'surveys/end' %>
  </div>

</div>



