<style>

  .cs-survey_background {
    background-color: #730E15;
  }

</style>


<div class="site-wrapper-inner cs-survey_background">

  <div class="cover-container">
    <div class="inner cover">

  <div id="start_page">
    <%= render 'surveys/start' %>
  </div>

  <!--<div id="question_list">-->
    <!--<div id="questions"></div>-->
  <!--</div>-->

  <div id="question_list_rails">
    <%= render partial: 'surveys/question', collection: @survey.questions.order(:number) %>
  </div>

  <div id="end_page">
    <%= render 'surveys/end' %>
  </div>

</div>
</div>
</div>


